.changelog-type-pageupdate {
    background-color: #0dddecb0;
}


[data-md-color-scheme="slate"] {
  --md-card-color: #c6b067;
}

  [data-md-color-scheme="theme"] {
    --md-primary-fg-color: #FF8C00;
    --md-primary-bg-color: #ffffff;
    --md-card-color: #ffffff;
  }