.changelog-type-pageupdate {
    background-color: #0dddecb0;
}


/* [data-md-color-scheme="theme"] {
    --md-primary-fg-color:        #4a97babb;
}
 */

  [data-md-color-scheme="theme"] {
    --md-primary-fg-color: #FF8C00;
    --md-primary-bg-color: #ffffff;
    --md-card-color: #ffffff;
  }