.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #FEFEFE;
    background-clip: border-box;
    border: 0.5px solid #606060;
    border-radius: .25rem;
    margin-bottom: 1em;
}

[data-md-color-scheme="slate"] .card {
    background-color: #181818;
    border: 0.5px solid #606060;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}

.card-header {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.25rem;
    margin-bottom: 0;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
}

.card-body ul {
    margin-top: 0;
    margin-bottom: 0;
}

.md-typeset :is(.card-body details) {
    margin-top: 0.25rem;
    margin-bottom: 0;
}

.file-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.2em 1em;
    transition: background-color .3s cubic-bezier(.4,0,.2,1);
}

.file-block:hover {
    background-color: #d69c30;
}
[data-md-color-scheme="slate"] .file-block:hover {
    background-color: #a3317d;
}

.file-title {
    padding-left: 0rem;
    margin-bottom: 0;
    font-size: 1.1em;
    font-weight: 600;
}

.file-meta {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
}

.file-body {
    padding-left: 1em;
    margin-right: auto;
}

.down-button {
    border: 0.05rem solid;
    border-radius: 0.1rem;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    padding: 0.25em 0.5em;
    transition: color .3s,background-color .3s,border-color .3s !important;
}

.down-button:is(:focus,:hover) {
    background-color: var(--md-accent-fg-color);
    border-color: var(--md-accent-fg-color);
    color: var(--md-accent-bg-color) !important;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  .ADS_card {
    /* background: var(--md-default-fg-color); */
    border: 3px solid var(--md-default-fg-color);
    border-radius: 6px;
    width: 200px;
    height: 100px;
    padding: 3px;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: var(--text-color, rgb(88, 199, 250));
    cursor: pointer;
    font-family: var(--md-text-font);
    overflow: hidden;
    --initial-text: "Initial Text";
    --hover-text: "Hovered Text Line 1\AHovered Text Line 2";
    --text-color: var(--md-default-fg-color);
    --hover-font-size: 1em; /* Default hover text size */
    white-space: pre-wrap;
    transition: border 0.3s ease;
  }
  
  .ADS_card::before,
  .ADS_card::after {
    content: "";
    position: absolute;
    width: 104%;
    height: 102%;
    border-radius: 8px;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: none;
  }
  
  .ADS_card::before {
    content: var(--initial-text);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s;
    opacity: 1;
    color: var(--text-color);
    z-index: 1;
  }
  
  .ADS_card::after {
    content: var(--hover-text);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s;
    opacity: 0;
    color: var(--text-color);
    z-index: 1;
    white-space: pre-wrap;
    font-size: var(--hover-font-size); /* Hover text size */
  }
  
  .ADS_card:hover::before {
    opacity: 0;
  }
  
  .ADS_card:hover::after {
    opacity: 1;
  }
  .ADS_card:hover {
    border: 1px solid rgb(241, 126, 145); /* 悬停时边框变小且变为粉色 */
    transform: scale(1.05); 
  }

  /* <!-- 
<a href="https://zjuers.com">
<div class="ADS_card" style="--initial-text:'你好';--hover-text:'再见';">
</div>
</a> --> */
